In [1]:
import urllib.request
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [2]:
html_data = """
<div class="mx-n-md-4"><div class="relative"><div class="custom-datatable"><div class="sc-dmRaPn embYUS"><div class="sc-fLlhyt gcPjVa"><div class="sc-bczRLJ jNMKxq rdt_Table" role="table"><div class="sc-gsnTZi bZtlLv rdt_TableHead" role="rowgroup"><div class="sc-dkzDqf eOtTIX rdt_TableHeadRow" role="row"><div data-column-id="1" class="sc-hKMtZM sc-eCYdqJ sc-iqcoie jYPiPR hfWhjw qVZpv rdt_TableCol"><div data-column-id="1" data-sort-id="1" role="columnheader" tabindex="0" class="sc-crXcEl jNENvb rdt_TableCol_Sortable"><div data-column-id="1" class="sc-evZas dFsTSm">Name</div><span class="asc __rdt_custom_sort_icon__"></span></div></div><div data-column-id="2" class="sc-hKMtZM sc-eCYdqJ sc-iqcoie jYPiPR gHBJQB qVZpv rdt_TableCol"><div data-column-id="2" data-sort-id="2" role="columnheader" tabindex="0" class="sc-crXcEl jNENvb rdt_TableCol_Sortable"><div data-column-id="2" class="sc-evZas dFsTSm">Town</div><span class="asc __rdt_custom_sort_icon__"></span></div></div><div data-column-id="3" class="sc-hKMtZM sc-eCYdqJ sc-iqcoie jYPiPR gfYsxk qVZpv rdt_TableCol"><div data-column-id="3" data-sort-id="3" role="columnheader" tabindex="0" class="sc-crXcEl jNENvb rdt_TableCol_Sortable"><div data-column-id="3" class="sc-evZas dFsTSm">County</div><span class="asc __rdt_custom_sort_icon__"></span></div></div><div data-column-id="4" class="sc-hKMtZM sc-eCYdqJ sc-iqcoie jYPiPR iPQAkn qVZpv rdt_TableCol" width="95px"><div data-column-id="4" data-sort-id="4" role="columnheader" tabindex="0" class="sc-crXcEl jNENvb rdt_TableCol_Sortable"><div data-column-id="4" class="sc-evZas dFsTSm">Published</div><span class="asc __rdt_custom_sort_icon__"></span></div></div></div></div><div class="sc-hHLeRK fnSgVj rdt_TableBody" role="rowgroup"><div id="row-0" role="row" class="sc-jqUVSM hjBMSB rdt_TableRow"><div id="cell-1-undefined" data-column-id="1" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo hfWhjw dNvvkQ rdt_TableCell" data-tag="allowRowEvents"><a href="/death-notice/oliver-ollie-clery-waterford-waterford-city-532166" data-cy="dn-link" target="" style="height:100%;width:100%" class="flex align-items-center showdown-dn-link justify-content-between"><div class="font-13 font-md-12 flex align-items-center"><div class="flex-inline flex-wrap name-cell"><b class="">CLERY</b><span>,<!-- --> </span>Oliver (ollie)</div></div><div class="flex align-items-center pl-1"></div></a></div><div id="cell-2-undefined" data-column-id="2" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo gHBJQB dNvvkQ rdt_TableCell" data-tag="allowRowEvents"><div class="font-13 font-md-12 font-weight-500 w-100 word-break">Waterford City</div></div><div id="cell-3-undefined" data-column-id="3" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo gfYsxk dNvvkQ rdt_TableCell" data-tag="allowRowEvents"><div class="font-13 font-md-12 font-weight-500 w-100 word-break">Waterford</div></div><div id="cell-4-undefined" data-column-id="4" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo iPQAkn dNvvkQ rdt_TableCell" data-tag="allowRowEvents" width="95px"><div class="font-13 font-md-12 font-weight-500">09/10/23</div></div></div><div id="row-1" role="row" class="sc-jqUVSM hjBMSB rdt_TableRow"><div id="cell-1-undefined" data-column-id="1" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo hfWhjw dNvvkQ rdt_TableCell" data-tag="allowRowEvents"><a href="/death-notice/paddy-como-connolly-wexford-enniscorthy-532165" data-cy="dn-link" target="" style="height:100%;width:100%" class="flex align-items-center showdown-dn-link justify-content-between"><div class="font-13 font-md-12 flex align-items-center"><div class="flex-inline flex-wrap name-cell"><b class="">CONNOLLY</b><span>,<!-- --> </span>Paddy (Como)</div></div><div class="flex align-items-center pl-1"></div></a></div><div id="cell-2-undefined" data-column-id="2" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo gHBJQB dNvvkQ rdt_TableCell" data-tag="allowRowEvents"><div class="font-13 font-md-12 font-weight-500 w-100 word-break">Enniscorthy</div></div><div id="cell-3-undefined" data-column-id="3" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo gfYsxk dNvvkQ rdt_TableCell" data-tag="allowRowEvents"><div class="font-13 font-md-12 font-weight-500 w-100 word-break">Wexford</div></div><div id="cell-4-undefined" data-column-id="4" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo iPQAkn dNvvkQ rdt_TableCell" data-tag="allowRowEvents" width="95px"><div class="font-13 font-md-12 font-weight-500">09/10/23</div></div></div><div id="row-2" role="row" class="sc-jqUVSM hjBMSB rdt_TableRow"><div id="cell-1-undefined" data-column-id="1" role="gridcell" class="sc-hKMtZM sc-eCYdqJ sc-jSMfEi cLRkKo hfWhjw dNvvkQ rdt_TableCell" data-tag="allowRowEvents"><a href="/death-notice/dolly-lennon-kilkenny-dunbell-532164" data-cy="dn-link" target="" style="height:100%;width:100%" class="flex align-items-center showdown-dn-link justify-content-between"><div class="font-13 font-md-12 flex align-items-center"><div class="flex-inline flex-wrap name-cell">
"""

In [3]:
def scrape(html):
    soup = BeautifulSoup(html, 'html.parser')
    return soup

In [4]:
def get_url(soup):
    url_list = []
    anchors = soup.find_all('a', class_='showdown-dn-link')
    urls = [anchor['href'] for anchor in anchors]
    for url in urls:
        url_list.append("https://rip.ie" + url)
    return url_list

In [67]:
urls = get_url(scrape(html_data))
url_pattern = r'https://rip.ie/death-notice/([^/]+)-([^/]+)-([^/]+)(?:-([^/]+))?-(\d+)'

In [ ]:
r'https://rip.ie/death-notice/([^/]+)-([^/]+)-([^/]+)-([^/]+)-([^/]+)-(\d+)'

In [82]:
def create_df(urls, pattern):
    data_list = []
    
    for u in urls:
        match = re.match(pattern, u)

        if match:
            """
            first_name = match.group(1).split('-')[0]
            middle_name = match.group(1).split('-')[1] if len(match.group(1).split('-')) > 1 else ""
            #last_name = match.group(1).split('-')[1] if len(match.group(1).split('-')) > 2 else match.group(1).split('-')[2]
            city = match.group(2)
            location = match.group(3)
            identity = match.group(5)
            """
            print(match.group(1))
            first_name = match.group(1).split('-')[0]
            if len(match.group(1).split('-')) > 1:
                middle_name = match.group(1).split('-')[1]
                last_name = match.group(1).split('-')[-1]
            else:
                middle_name = ""
                last_name = match.group(1).split('-')[1]
            city = match.group(2)
            location = match.group(3)
            identity = match.group(5)

            data_list.append({
                            "First Name": first_name,
                            "Middle Name": middle_name,
                            "Last Name": last_name,
                            "City": city,
                            "Location": location,
                            "ID": identity
                        })

        else:
            print("Pattern did not match.")
        
    df = pd.DataFrame(data_list)
    return df

In [83]:
result_df = create_df(urls, url_pattern)
result_df

oliver-ollie-clery-waterford
paddy-como-connolly
dolly-lennon

  First Name Middle Name  Last Name       City     Location      ID
0     oliver       ollie  waterford  waterford         city  532166
1      paddy        como   connolly    wexford  enniscorthy  532165
2      dolly      lennon     lennon   kilkenny      dunbell  532164